.about-card {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
}

.about-card-content {
  max-width: 40rem;
  white-space: pre-line;
}

@media screen and (max-width: 1000px) {
  .about-card-content {
    text-align: left;
    white-space: normal;
    padding: 0 1rem 0 1rem;
  }
}
