.media-slideshow {
  text-align: center;
  width: 40%;
  padding: 1rem;
}

.media-slideshow > a > img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .media-slideshow {
    width: 90%;
  }

  .media-slideshow > a > img{
    width: 100%;
  }
}
