.error-page {
  padding: 5rem 0 18rem 0;
  text-align: center;
}
.error-page > h1 {
  font-size: 5rem;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .error-page {
    padding: 5rem 0 12rem 0;
  }
}
