.header {
  height: 45vh;
  background: var(--bg-light);
}

.header-text {
  text-align: center;
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 400;
}

.header-main {
  display: block;
  animation: mainTop 1s ease-out;
}

.header-sub {
  display: block;
  font-size: 16px;
  animation: subTop 1s ease-out;
}

.icon-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: iconTop 1s ease-out;
}

.icon {
  display: inline;
  margin: 0 7px 0 7px;
  transition: .2s
}

.icon:hover > a > img {
  transform: scale(1.1);
}

@keyframes mainTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes subTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes iconTop {
  0% {
    opacity: 0;
    transform: translate(-50%, -70px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
