.header {
  height: 360px;
  background: var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.header-text {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.header-main {
  display: block;
  font-size: 30px;
}

.header-sub {
  display: block;
  font-size: 20px;
}

.icon-box {
  text-align: center;
  padding-top: 1rem;
}

.icon {
  display: inline;
  margin: 0 7px 0 7px;
  transition: .2s
}

.icon:hover > a > img {
  transform: scale(1.1);
}
