.header {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 0;
}

.header-main {
  display: flex;
  margin: 0 0 0 1rem;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 7rem;
  height: 7rem;
  transition: .2s;
  background-size: 100%;
  background-image: url('../images/logos/small-logo.png');
}

.header-logo:hover {
  transition: .2s;
  background-image: url('../images/logos/large-logo.png');
}

.header-main-link {
  text-decoration: none;
  margin: 0 1rem 0 1rem;
  font-size: 1.3rem;
  color: #676767
}

.header-links {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.header-link {
  height: 35px;
  margin: 0 1rem 0 1rem;
}


@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeout {
  animation: fadeout;
  animation-duration: .3s;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media screen and (max-width: 1000px) {
  .header-main {
    padding: 0 .5rem 1rem 0;
    margin: 0;
  }
  .header-link {
    margin: 0 1rem 0 1rem;
  }
  .header-main-link {
    font-size: .8rem;
  }
}
