.project {
  min-height: 90vh;
  background: var(--bg-light);
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projectcard {
  padding: 3rem 0 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projectcard-video {
  height: 315px;
  grid-column: 1;
  text-align: right;
  padding-right: 1rem;
}

.projectcard-video > iframe{
  height: 100%;
}

.projectcard-info {
  min-height: 315px;
  width: 500px;
  padding-left: 1rem;
}

.projectcard-info > h2 > span {
  padding-left: 1rem;
  font-size: 14px;
  font-weight: 400;
}

.projectcard-title {
  padding-top: 1rem;
}

.projectcard-paragraph {

}

.projectcard  {
}
