* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --bg-light: #f6f5f5;
  --bg-dark: #dbd8d8;
}

body {
  font-family: sans-serif;
  padding: 30px;
}

@import url("./css/header.css");
@import url("./css/about.css");
@import url("./css/project.css");
