@import url("./css/header.css");
@import url("./css/person.css");
@import url("./css/project-container.css");
@import url("./css/project-card.css");
@import url("./css/project-slideshow.css");
@import url("./css/project-information.css");
@import url("./css/technology.css");


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {

}
